<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ürünler</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque, aspernatur minima et ex obcaecati neque assumenda minus. Illo aliquam, velit molestias quasi excepturi aliquid, labore libero fugiat harum ea eligendi veritatis quidem ducimus iste aperiam blanditiis debitis possimus dicta! Et atque voluptates veritatis excepturi laudantium quisquam sint eveniet accusantium iusto sed vitae repellat quia pariatur quae minus neque, saepe natus aliquid, corrupti doloribus inventore quas eligendi repudiandae? Totam obcaecati ut eius in ex accusamus laboriosam praesentium, ad eveniet distinctio facere quae necessitatibus minus repellat incidunt aut tenetur ipsa? Facere explicabo sint commodi maxime quidem nihil, consequuntur est veniam officiis.</p>
</body>
<a href={% url 'anasayfa' %}>Anasayfa'ya dön</a>
</html>
