{%extends 'eticaret/base.html'%}

{%block baslik%}
  Anasayfa
{%endblock%}


{%block icerik%}

{%if user.is_authenticated%}
<div class="card">
  <div class="card-header">
    <div class="card-title">{{user.first_name}} {{user.last_name}}</div>
  </div>
  <div class="card-body">
      <p>Kullanıcı Adı:{{user.username}}</p>
      <p>Email:{{user.email}}</p>
      <p>Şifre:{{user.password}}</p>
      <p>Kayıt Tarihi:{{user.date_joined}}</p>
      <p>Son Giriş:{{user.last_login}}</p>
  </div>
</div>
{%else%}
<div class="alert alert-danger">
  Görüntüleme izniniz yok
</div>
{%endif%}

{%endblock%}
